
@{
    ViewBag.Title = "denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="alert alert-danger alert-dismissible">
                    <h4><i class="icon fa fa-ban"></i> Denied !</h4>
                    You don't have enough permission to access this part,Please contact with your administrator
                </div>

            </div>
        
            <div class="col-md-2"></div>

        </div>
        </section>
    </div>

